@model IEnumerable<CjbHome.Models.BlogPost>

@{
    ViewBag.Title = "Index";
    ViewBag.TitleImage = "https://lh3.googleusercontent.com/-1uHFvXxlKE4/UnLDpJPvOhI/AAAAAAAAEXA/8lXyGIMoCXg/s800-Ic42/IMG_8042.JPG";
}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        @foreach (var post in Model)
        {
            <div>
                <a href="@Url.Action(post.LinkText)">
                    <h2 class="post-main-title">@post.Title</h2>
                    <p class="post-main-subtitle">Posted on @post.PostDate</p>
                </a>
            </div>
            <hr />
        }
    </div>
</div>
