@model CjbHome.Models.BlogPost

@{
    ViewBag.Title = Model.Title;
    var defaultTitleImage = "https://lh3.googleusercontent.com/-NbXzKZP9S2s/T1ug_tiqhhI/AAAAAAAAAJg/42YHpbwNfIQ/s800-Ic42/IMG_3248.JPG";
    ViewBag.TitleImage = Model.HeaderImageUrl ?? defaultTitleImage;
}

<h2>@ViewBag.Title</h2>

<div>
    @Model.Content
</div>

<hr />

<p>
    Posted on @Model.PostTime
</p>

<p>
    @Html.ActionLink("Back to blog index", "Index")
</p>
