@{
    ViewBag.Title = "About";
    ViewBag.TitleImage = "https://lh3.googleusercontent.com/-1QXiu1We4zM/USpcFCmcP-I/AAAAAAAABoY/GfN-4Qqyp2I/s720-Ic42/DSC_0034.JPG";
}
<h2>@ViewBag.Title.</h2>

<p>
    I am a software developer based in Brisbane, Australia. I have previously lived and worked in Sydney and Amsterdam, Netherlands.
    My work has focused mainly on the Microsoft stack and has covered both desktop and web applications development.
</p>
    I am also a husband and a dad. I enjoy travelling, hiking, camping and taking my 4WD out on the beach. I love football and am a keen Aston Villa supporter.
<p>


