@using System.Data.Entity.Core
@model CjbHome.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:50px">
    <div>
        <div class="col-md-1 text-center">
            <img src="../../Content/images/light-small.png" width="50" height="50" />
        </div>
        <div class="col-md-11">
            <div style="margin-bottom:20px">
                <h2>Recent Posts</h2>
            </div>
            @foreach (var post in Model.RecentPosts)
            {
                <div class="post-title">
                    <h3>@Html.ActionLink(string.Format("{0}", post.Title), "View", "Blog", new { id = post.Id }, null)</h3><span class="post-subtitle"> on @post.PostTime</span>
                </div>
            }
            <a href="" class="pull-left" style="margin-top:20px">More thoughts...</a>
        </div>
    </div>
</div>

<hr />

<div class="row" style="margin-top:50px">
    <div>
        <div class="col-md-1 col-md-push-11 text-center">
            <img src="../../Content/images/flask-small.png" width="50" height="50" />
        </div>
        <div class="col-md-11 col-md-pull-1">
            <div style="margin-bottom:20px; text-align: right">
                <h2>Projects</h2>
            </div>
            <p style="text-align: right">
                Show me the code! I like to tinker with new software development tools 
                and technologies. This section shows some of the spare time projects I have 
                worked on. 
            </p>
            <a href="" class="pull-right">More projects...</a>
        </div>
    </div>
</div>

<hr />

<div class="row" style="margin-top:50px">
    <div>
        <div class="col-md-1 text-center">
            <img src="../../Content/images/question-small.png" width="50" height="50" />
        </div>
        <div class="col-md-11">
            <div style="margin-bottom:20px">
                <h2>About Me</h2>
            </div>
            <p>
                I am a husband, a dad and a software developer, based in Brisbane, Australia. 
            </p>
            <a href="" class="pull-left">Contact me...</a>
        </div>
    </div>
</div>
