@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="main-header">
    @*<div class="vertical">*@
            <h1 >ProudMonkey</h1>
            <h2 >&quot;Code, Beer and Music ~my way of being a programmer&quot;</h2>
    @*</div>*@
</div>


<div class="panel panel-default" style="margin-top:50px">
    <div class="panel-body">
            <div class="col-md-1 text-center">
                <img src="../../Content/images/light-small.png" width="50" height="50" />
                <p>Thoughts</p>
            </div>
            <div class="col-md-11">
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <a href="" class="pull-right">More thoughts...</a>
            </div>
        </div>
</div>

<div class="panel panel-default" style="margin-top:50px">
    <div class="panel-body">
            <div class="col-md-1 col-md-push-11 text-center">
                <img src="../../Content/images/flask-small.png" width="50" height="50" />
                <p>Lots of Projects</p>
            </div>
            <div class="col-md-11 col-md-pull-1">
                <p style="text-align: right">
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <a href="" class="pull-right">More projects...</a>
            </div>
        </div>
</div>

<div class="panel panel-default" style="margin-top:50px">
    <div class="panel-body">
        <div class="col-md-1 text-center">
            <img src="../../Content/images/question-small.png" width="50" height="50" />
            <p>About</p>
        </div>
        <div class="col-md-11">
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <a href="" class="pull-right">More About...</a>
        </div>
    </div>
</div>
