@using System.Data.Entity.Core
@model CjbHome.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home";
    ViewBag.TitleImage = "../../Content/images/header-2.png";
}

<div class="row" style="margin-top:20px">
    <div>
        <div class="col-md-1 text-center" />
        </div>
        <div class="col-md-11">
            <div style="margin-bottom:20px">
                <h2>Recent Posts</h2>
            </div>
            @foreach (var post in Model.RecentPosts)
            {
                <div>
                    <a href="@Url.Action(post.LinkText, "Blog")">
                        <div class="post-preview-title">@post.Title</div>
                        <div class="post-preview-subtitle">Posted on @Html.DisplayFor(model => post.PostDate)</div>
                    </a>
                </div>
            }
            @Html.ActionLink("More posts >>", "Index", "Blog", null, new { @class="pull-left", style="margin-top:20px" })
        </div>
    </div>
</div>

<hr />

<div class="row" style="margin-top:20px">
    <div>
        <div class="col-md-1 text-center" />
        </div>
        <div class="col-md-11">
            <div style="margin-bottom:20px">
                <h2>Projects</h2>
            </div>
            <p>
                Show me the code! I like to tinker with new software development tools
                and technologies. This section shows some of the spare time projects I have
                worked on. 
            </p>
            <a href="" class="pull-left">More projects >></a>
        </div>
    </div>
</div>

<hr />

<div class="row" style="margin-top:20px">
    <div>
        <div class="col-md-1 text-center" />
        </div>
        <div class="col-md-11">
            <div style="margin-bottom:20px">
                <h2>About Me</h2>
            </div>
            <p>
                I am a software developer based in Brisbane, Australia. I have previously lived and worked in Sydney and Amsterdam, Netherlands.
                I am also a husband and a dad, and I enjoy reading, hiking, camping, football, writing and travelling.
            </p>
            <a href="" class="pull-left">Contact me >></a>
        </div>
    </div>
</div>
