@{
    ViewBag.Title = "Projects";
    ViewBag.TitleImage = "https://lh3.googleusercontent.com/-1QXiu1We4zM/USpcFCmcP-I/AAAAAAAABoY/GfN-4Qqyp2I/s720-Ic42/DSC_0034.JPG";
}
<h2>@ViewBag.Title.</h2>

<h3>
    This Blog
</h3>
<p>
    This blog, created using ASP.NET MVC, hosted on Azure.
</p>
<p>
    Source on GitHib.
</p>

<h3>
    <a href="http://isitabanger.azurewebsites.net/">Is It A Banger?</a>
</h3>
<p>
    A series of rigorous tests to answer one simple question...is it a banger?
</p>
<p>
    Source on GitHib.
</p>

<hr />

<h3>
    ShowTime
</h3>
<p>
    A WPF media centre application for desktop.
</p>
<p>
    Source on GitHib.
</p>