@model CjbHome.Models.BlogPost

@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
